@import "compass";
$width: 1200px; //ширина рабочей области
$headerHeight:250px;
$footerHeight:40px; //высота футера

$linkColor:black;

/*________________ sticky footer __________*/
html, body {
  height: 100%;
  position: relative;
}
body {min-height: 100%;}

header{
  height: $headerHeight;
  background: black;
}
//основной блок с информацией
#wrap{
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto ($footerHeight+16)*-1;
  background: none;
}

footer {
  color: white;
  position: absolute;
  bottom: 0;
  bottom: auto;
  background: black;
  width: 100%;
  height: $footerHeight;
}

/*________________ классы-хелперы _________*/


.dot{
  border-bottom: 1px dotted $linkColor;
  &:hover{border-bottom: none;text-decoration: none;}
}

a{
  text-decoration: none;
  color:$linkColor;
  &:hover{text-decoration: underline;}
}
.navbar{
    border-radius: 0;
    background: black;
    background: black;
}
#login-dp{
    min-width: 250px;
    padding: 14px 14px 0;
    overflow:hidden;
    background-color:rgba(255,255,255,.8);
    .help-block{
        font-size:12px
    }
    .bottom{
        background-color:rgba(255,255,255,.8);
        border-top:1px solid #ddd;
        clear:both;
        padding:14px;
    }
    .form-group {
        margin-bottom: 10px;
    }
}

@media(max-width:768px){
    #login-dp{
        background-color: inherit;
        color: #fff;
    }
    #login-dp .bottom{
        background-color: inherit;
        border-top:0 none;
    }
}