.DAV/
.project
.projects
.settings
.idea
assets/*
!assets/.yii
!assets/.placeholder
data/*
!data/.placeholder
db/
cache/
mediadb
protected/admin/runtime
protected/config/local.php
protected/data/*
!protected/data/.placeholder
protected/runtime/*
!protected/runtime/.yii
!protected/runtime/gii-1.1.12
protected/vendors
temp/
.sass-cache/